## Old stuff
shovel/old

## Input files
ss13pnh.csv

## Output files
pnh13.csv

## Personal
project_draft.Rmd
project_notes.Rmd





# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
